<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
  />
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>budjetit</title>

  <style>
    .koko {
    width: 200px !important;
    height: 45px;
    }
    .logoutbtnPos{
    position:fixed;
    right:10px;
    top:10px;
    }
    .divider{
    width:20px;
    height:auto;
    display:inline-block;
    }
  </style>

  <script>
    var Id = <%= userId %> ; //huutaa erroreita, mut toimii

    $(function () {
        fetchBudgets();
    });

    function fetchBudgets() {
        $.get(
            "/kayttajanbudjetit/" + Id,
            function (data, status, xhr) {
                $("#budjetit").append('<option value="-1">Valitse budjetti</option>');
                $.each(data, function (index, data) {
                    $("#budjetit").append('<option value="' + data.Id + '">' + data.NIMI + "</option>");
                });
            })
    }

    function nappiesiin() {
      var x = document.getElementById("muokkaa");
      var y = document.getElementById("budjetit").selectedIndex;
        if (x.style.display === "none") {
          x.style.display = "block";
        } 
        else if(document.getElementsByTagName("option")[y].value == '-1')
        {
          x.style.display = "none";
        }
    }
    
  </script>
</head>
<body>
  <h1><center>Omat budjetit</center></h1>
  <br />
  <br />
  <center><label>Budjetit:<select id="budjetit" class="form-control koko" onchange="nappiesiin()"> </select> 
    <br/>

    <div id="muokkaa" style="display: none;">
      <button onclick="" type="button" class="btn btn-info koko" id="muokkaabtn" >Muokkaa budjettia</button></label>
    
    <div class="divider"></div>

     <button onclick="" type="button" class="btn btn-info koko" id="jaa" >Jaa budjetti</button></label>

    </div></center>

    <br />
  <center><button onclick="location.href='/lisaabudjetti'" type="button" class="btn btn-info koko">Lisää uusi budjetti</button></label>

  <div class="divider"></div>

  <button onclick="location.href='/lisaapaaryhma'" type="button" class="btn btn-info koko">Lisää pääryhmiä</button>
  
  <div class="divider"></div>

  <button onclick="location.href='/lisaaaliryhma'" type="button" class="btn btn-info koko">Lisää aliryhmiä</button></center>
  <br />
  <br />
  <center><button onclick="location.href='/'" type="button" class="btn btn-primary koko">Etusivu</button></center>
  <br />
  <br />
  <center><button onclick="location.href='/menot'" type="button" class="btn btn-primary koko">Menojen kirjaaminen</button></center>
  <br />
  <br />
  <center><button onclick="location.href='/tarkastelu'" type="button" class="btn btn-primary koko">Tarkastelu</button></center>
  <br />
  <br />
  <center><button onclick="location.href='/logout'" type="button" class="btn btn-danger logoutbtnPos">Kirjaudu ulos</button></center>
</body>
