<!DOCTYPE html>
<body>
  Tervetuloa <% if (locals.name) { %> <%= name %> <% } %>
  <br />
  <a href="/budjetit">Omat budjetit</a>
  <br />
  <a href="/menot">Menojen kirjaaminen </a>
  <br />
  <a href="/logout">Kirjaudu ulos</a>
</body>
