<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .divider {
      width: 20px;
      height: auto;
      display: inline-block;
    }

    .logoutbtnPos {
      position: fixed;
      right: 10px;
      top: 10px;
    }
    .koko {
    width: 140px !important;
    height: 45px;
    }
    .hyvaksykoko {
    width: 240px !important;
    height: 45px;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
   
    var userId = <%= userId %> ; //huutaa erroreita, mut toimii
    var budgetId;
    var paaId;

    $(function () {
      fetchBudgets();
      $("#paaryhmat").append('<option value="-1">Valitse</option>');
    });

    function selectBudget() {
      budgetId = $("#budjetit :selected").val();
      fetchPaaryhmat();
    }

    function selectPaaryhma() {
      paaId = $("#paaryhmat :selected").val();
    }

    function fetchBudgets() {
      $.get(
        "/kayttajanbudjetit/" + userId,
        function (data, status, xhr) {
          $("#budjetit").append('<option value="-1">Valitse</option>');
          $.each(data, function (index, data) {
            $("#budjetit").append('<option value="' + data.Id + '">' + data.NIMI + "</option>");
          });
        })
    }

    function fetchPaaryhmat() {
      $("#paaryhmat").empty();
      $.get(
        "/paaryhma/" + budgetId,
        function (data, status, xhr) {
          $("#paaryhmat").append('<option value="-1">Valitse</option>');
          $.each(data, function (index, data) {
            $("#paaryhmat").append('<option value="' + data.Id + '">' + data.Nimi + "</option>");
          });
        })
    }

  </script>
  <title>Aliryhmän lisääminen</title>
</head>

<body>
  <header>
    <h1>
      <center>Aliryhmän lisääminen</center>
    </h1>
  </header>
  <br/>

  <% if (locals.msg) { %>
   <center><h2><%= msg %></h2></center> 
    <% } %>
    
  <br />
  <form action="/lisaaaliryhma" method="POST">
    <div>
      <div class="col-md-4 col-md-offset-4" style="background-color:rgb(135, 165, 204); border-style:inherit; 
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 25px;" >
        <center>
          <p>
            Valitse budjetti:
            <select onchange="selectBudget()" id="budjetit" name="budjetit" class="form-control" required>
            </select>
          </p>
        </center>
        <br />

        <center>
          <p>
            Valitse pääryhmä:
            <select onchange="selectPaaryhma()" id="paaryhmat" name="paaryhma" class="form-control" required>
            </select>
        </center>
        </p>
        <br />

        <center>
          <p>Syötä aliryhmän nimi:
            <input type="text" class="form-control" id="nimi" name="nimi" minlength="3" maxlength="45"
              placeholder="Nimi" required />
          </p>
        </center>
        <br />

        <center>
          <div>
            <button onclick="location.href='/lisaapaaryhma'" type="button" class="btn btn-primary koko">
            Lisää pääryhmiä
            </button>

            <div class="divider"></div>

            <input type="submit" value="Lisää aliryhmä" class="btn btn-success hyvaksykoko"/>

            <div class="divider"></div>

            <button onclick="location.href='/budjetit'" type="button" class="btn btn-primary koko">
            Budjetit
            </button>

          </div>
        </center>
      </div>
  </form>
  <center>
    <button onclick="location.href='/logout'" type="button" class="btn btn-danger logoutbtnPos">Kirjaudu ulos</button>
  </center>
</body>

</html>