<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
     $(function() {
        $("#datepicker")
          .datepicker({
            dateFormat: "yy.mm.dd",
            defaultDate: new Date(),
            monthNames: [
              "Tammikuu",
              "Helmikuu",
              "Maaliskuu",
              "Huhtikuu",
              "Toukokuu",
              "Kesäkuu",
              "Heinäkuu",
              "Elokuu",
              "Syyskuu",
              "Lokakuu",
              "Marraskuu",
              "Joulukuu"
            ],
            dayNamesMin: ["Su", "Ma", "Ti", "Ke", "To", "Pe", "La"],
            firstDay: 1,
            altField: "#pelement"
          })
          .val();

        function getDate() {
          var todaydate = new Date();
          var day = todaydate.getDate();
          if (day < 10) {
            day = "0" + day;
          }
          var month = todaydate.getMonth() + 1;
          if (month < 10) {
            month = "0" + month;
          }
          var year = todaydate.getFullYear();
          var datestring = year + "." + month + "." + day;
          document.getElementById("datepicker").value = datestring;
        }
        getDate();
      });
  </script>
  <title>Lisää budjetti</title>
  <style>
    .logoutbtnPos{
    position:fixed;
    right:10px;
    top:10px;
    }
    .koko {
    width: 140px !important;
    height: 45px;
    }
    .lisaakoko {
    width: 240px !important;
    height: 45px;
    }
    .divider{
    width:30px;
    height:auto;
    display:inline-block;
    }
    
  </style>
</head>
<body>
  <h1><center>Lisää budjetti</center></h1>
  <br/>
  <form action="/lisaabudjetti" method="POST" >
    <div class="col-md-4 col-md-offset-4 "style="background-color:rgb(135, 165, 204); 
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 25px;" >

      <center><p>Syötä budjetin nimi: 
        <input type="text" 
        class="form-control" 
        id="nimi" 
        name="nimi"
        placeholder="Budjetin nimi"
        required/>
      </p></center>
      <br/>
      <center><p>Syötä budjetin koko: 
        <input type="number"  
        step="0.01" 
        class="form-control" 
        id="koko"
        name="koko"
        placeholder="Budjetin koko"
        maxlength = "12" 
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        required/>
      </p></center>
      <br/>
      <center><p>Valitse budjetin päivämäärä: 
        <input type="text" 
        id="datepicker" 
        name="pvm"
        value="tästä" 
        class="form-control"
        required/>
      </center>
      <br/>
      <br/>
      
      <center><div>
         
      <button onclick="location.href='/'" type="button" class="btn btn-primary koko" >Etusivu</button>
      
      <div class="divider"></div>
  
      <button onclick="location.href='/budjetit'" type="button" class="btn btn-primary koko" >Budjetit</button>

      <div class="divider"></div>

      <input type="submit" value="Lisää budjetti" class="btn btn-success lisaakoko" />

      <button onclick="location.href='/logout'" type="button" class="btn btn-danger logoutbtnPos">Kirjaudu ulos</button>
  
    </div></center>
    </div>
  </form>
</body>
