<h1>Kirjaudu sisään</h1>
<% if (locals.msg) { %>
    <h2><%= msg %></h2>
<% } %>
<div>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit">
    </form>
</div>
<a href="/register">Rekisteröidy</a>