<!DOCTYPE html>
<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function() {
        $("#datepicker")
          .datepicker({
            dateFormat: "dd.mm.yy",
            defaultDate: new Date(),
            monthNames: [
              "Tammikuu",
              "Helmikuu",
              "Maaliskuu",
              "Huhtikuu",
              "Toukokuu",
              "Kesäkuu",
              "Heinäkuu",
              "Elokuu",
              "Syyskuu",
              "Lokakuu",
              "Marraskuu",
              "Joulukuu"
            ],
            dayNamesMin: ["Su", "Ma", "Ti", "Ke", "To", "Pe", "La"],
            firstDay: 1,
            altField: "#pelement"
          })
          .val();

        function getDate() {
          var todaydate = new Date();
          var day = todaydate.getDate();
          if (day < 10) {
            day = "0" + day;
          }
          var month = todaydate.getMonth() + 1;
          if (month < 10) {
            month = "0" + month;
          }
          var year = todaydate.getFullYear();
          var datestring = day + "." + month + "." + year;
          document.getElementById("datepicker").value = datestring;
        }
        getDate();
      });
    
      
      var Id = <%= userId %> ; //huutaa erroreita, mut toimii

      $(function () {
        fetchBudgets();
    });

    function fetchBudgets() {
        $.get(
            "/kayttajanbudjetit/" + Id,
            function (data, status, xhr) {
                $("#budjetit").append('<option value="-1">Valitse</option>');
                $.each(data, function (index, data) {
                    $("#budjetit").append('<option value="' + data.Id + '">' + data.NIMI + "</option>");
                });
            })
    }

    </script>
  </head>

<body>
    <header>
      <h1><center>Menojen kirjaaminen</center></h1>
    </header>
    <br />
  <div>
  <form action="/menot" method="POST">
    <p>
      Valitse olemassa oleva budjetti:
      <select id="budjetit" name="valmis budjetti">
      </select>
    </p>
    <br />

    <p>
      Valitse pääryhmä:
      <select id="paaryhma" name="paaryhma">
        <option value="">Pääryhmä</option>
        <option value="Pääryhmä">Pääryhmä</option>
      </select>
    </p>
    <br />

    <p>
      Valitse aliryhmä:
      <select id="aliryhma" name="aliryhma">
        <option value="Aliryhmä">Aliryhmä</option>
        <option value="Aliryhmä">Aliryhmä</option>
      </select>
    </p>
    <br />

    <p>
      Valitse päivämäärä: <input type="text" id="datepicker" value="tästä" />
    </p>
    <br />

    <p>Syötä ostopaikka: <input type="text" id="ostopaikka" /></p>
    <br />

    <p>Syötä kuvaus: <input type="text" id="kuvaus" /></p>
    <br />

    <p>Syötä summa euroina: <input type="number" id="summa" /></p>
    <br />

    <input
        type="submit"
        value="Hyväksy meno"
        class="btn btn-success"
    />
      <br />
      <br />

      <button onclick="location.href='/'" type="button" class="btn btn-primary">Palaa etusivulle</button>
    </form>
  </div>

  </body>
</html>
