<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .divider {
            width: 40px;
            height: auto;
            display: inline-block;
        }

        .logoutbtnPos {
            position: fixed;
            right: 10px;
            top: 10px;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        var userId = <%= userId %> ; //huutaa erroreita, mut toimii
        var budgetId;
        var paaId;
        var aliId;

        $(function () {
            fetchBudgets();
            $("#paaryhmat").append('<option value="-1">Valitse</option>');
            $("#aliryhmat").append('<option value="-1">Valitse</option>');
        });

        function selectBudget() {
            budgetId = $("#budjetit :selected").val();
            $("#menot").empty();
            fetchPaaryhmat();
        }

        function selectPaaryhma() {
            paaId = $("#paaryhmat :selected").val();
            $("#menot").empty();
            fetchAliryhmat();
        }

        function selectAliryhma() {
            aliId = $("#aliryhmat :selected").val();
            $("#menot").empty();
            fetchMenot();
        }

        function fetchMenot() {
            var yhtSumma = 0;

            $("#menot").empty();
            $.get(
                "/tarkastelu/" + aliId,
                function (data, status, xhr) {
                    $("#menot").append('<thead>' + '<tr>' + '</tr>' + '<th>' + "Nimi" + '</th>' + '<th>' + "Kuvaus" + '</th>' + '<th>' + "Ostopaikka" + '</th>' + '<th>' + "Päivämäärä" + '</th>' + '<th>' + "Summa" + '</th>' + '</tr>' + '</thead>');

                    $.each(data, function (index, data) {
                        yhtSumma += data.Summa;
                        var d = new Date(data.Pvm);
                        var pvm = d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
                        $("#menot").append('<tr><td>' + data.Nimi + '</td><td>' + data.Kuvaus + '</td><td>' + data.Ostospaikka + '</td><td>' + pvm + '</td><td>' + data.Summa + ' €' + '</td></tr>');
                    });
                    $("#menot").append('<tr><td></td></tr>')
                    $("#menot").append('<tr><td>' + 'Menot yhteensä' + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + Math.round((yhtSumma + Number.EPSILON) * 100) / 100 + ' €' + '</td></tr>');
                })
        }

        function fetchBudgets() {
            $.get(
                "/kayttajanbudjetit/" + userId,
                function (data, status, xhr) {
                    $("#budjetit").append('<option value="-1">Valitse</option>');
                    $.each(data, function (index, data) {
                        $("#budjetit").append('<option value="' + data.Id + '">' + data.NIMI + "</option>");
                    });
                })
        }

        function fetchPaaryhmat() {
            $("#paaryhmat").empty();
            $("#aliryhmat").empty();
            $("#aliryhmat").append('<option value="-1">Valitse</option>');
            $.get(
                "/paaryhma/" + budgetId,
                function (data, status, xhr) {
                    $("#paaryhmat").append('<option value="-1">Valitse</option>');
                    $.each(data, function (index, data) {
                        $("#paaryhmat").append('<option value="' + data.Id + '">' + data.Nimi + "</option>");
                    });
                })
        }

        function fetchAliryhmat() {
            $("#aliryhmat").empty();
            $.get(
                "/aliryhma/" + paaId,
                function (data, status, xhr) {
                    $("#aliryhmat").append('<option value="-1">Valitse</option>');
                    $.each(data, function (index, data) {
                        $("#aliryhmat").append('<option value="' + data.Id + '">' + data.Nimi + "</option>");
                    });
                })
        }

    </script>
    <title>Menojen tarkastelu</title>
</head>

<body>
    <header>
        <h1>
            <center>Menojen tarkastelu</center>
        </h1>
    </header>
    <br />

    <% if (locals.msg) { %>
    <center>
        <h2><%= msg %></h2>
    </center>
    <% } %>

    <br />
    <form>
        <div>
            <div class="col-md-4 col-md-offset-4" style="background-color:rgb(135, 165, 204); border-style:inherit; margin-bottom: 20px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 25px;">
                <center>
                    <p>
                        Valitse budjetti:
                        <select onchange="selectBudget()" id="budjetit" name="budjetit" class="form-control" required>
                        </select>
                    </p>
                </center>
                <br />

                <center>
                    <p>
                        Valitse pääryhmä:
                        <select onchange="selectPaaryhma()" id="paaryhmat" name="paaryhma" class="form-control"
                            required>
                        </select>
                </center>
                </p>
                <br />

                <center>
                    <p>
                        Valitse aliryhmä:
                        <select onchange="selectAliryhma()" id="aliryhmat" name="aliryhma" class="form-control"
                            required>
                        </select>
                </center>
                </p>
                <br />


                <center>
                    <div>
                        <button onclick="location.href='/'" type="button" class="btn btn-primary"
                            style="width: 180px; height: 40px;">
                            Palaa etusivulle
                        </button>


                    </div>
                </center>
            </div>
    </form>
    <br />

    <center>
        <table id="menot" class="table table-striped table-bordered">

        </table>
    </center>

    <center>
        <button onclick="location.href='/logout'" type="button" class="btn btn-danger logoutbtnPos">Kirjaudu
            ulos</button>
    </center>
</body>

</html>